/* COMMUNITY PAGE */
.community_page {
  width: 100%;
  height: 100%;
  display: flex;
}

.community_page .community_frame {
  width: 100%;
  height: 100%;
  display: flex;
  background: #0b0e11;
}

.community_page .community_container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.community_page .community_stack {
  flex-direction: row;
  justify-content: space-between;
}

/* 1/2 for Community Chats */
.community_page .community_chats {
  width: 30%;
  height: 1150px;
}

.community_page .center_bottom {
  position: relative;
  /* display: flex; */
  /* justify-content: space-around; */
  align-items: space-around;
  flex-direction: column;
}

.community_page .chat_frame {
  width: auto;
  height: 1150px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-direction: column;
  background: #e3f2fd;
  border: 1px solid #ffffff;
  border-radius: 34px;
}

/* chat top */
.community_page .community_chats .chat_top {
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(228, 228, 228, 0.83);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

/* middle: chat content */
.community_page .chat_content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.community_page .chat_content .chat_main {
  position: relative;
  width: 100%;
  /* height: 100%;
  padding: 17px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
/* left side */
.community_page .msg_left_box {
  width: auto;
  height: auto;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
}

.community_page .msg_left {
  width: auto;
  height: auto;
  margin-left: 10px;
  padding: 9px;
  display: flex;
  background: rgba(228, 228, 228, 0.83);
  border-radius: 20px 20px 20px 0px;
}

/* right side */
.community_page .msg_right_box {
  width: auto;
  height: auto;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.community_page .msg_right {
  width: auto;
  height: auto;
  padding: 9px;
  display: flex;
  background: #d0ece8;
  border-radius: 20px 20px 0px 20px;
}

/* chat bottom */
.community_page .chat_bottom {
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(228, 228, 228, 0.83);
}

.community_page .msg_input {
  width: 276px;
  height: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  border-radius: 28px;
  border: none;
  outline-color: #257677;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.community_page .send_msg_btn {
  width: 50px;
  height: 50px;
  margin-left: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(180deg, #55a99d 0%, #007665 100%);
  border: none;
}

/* 2/2 for Community Articles */
.community_page .community_articles {
  width: 68%;
  height: 1150px;
  background: #0b0e11;
  border: 1px solid #ffffff;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 2.1 article_tabs */
.community_articles .article_tabs {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(228, 228, 228, 0.83);
}

.community_page .article_wrap {
  /* overflow-y: scroll; */
  width: 820px;
  height: 800px;
}

/* 2.2 article_main */
.community_page .article_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 2.3 article_bottom: pagination */
.community_page .art_bottom {
  display: flex;
  justify-content: center;
  /* border: 1px solid yellow; */
  align-items: center;
  height: 60px;
  border-top: 2px solid rgba(228, 228, 228, 0.83);
}

/* article box */
.community_page .article_box {
  margin-bottom: 20px;
  border-radius: 30px;
  background: #182226;
  padding: 8px;
  color: #fff;
  display: flex;
  position: relative;
}

/* article_img_bg */
.community_page .article_box .all_art_img {
  width: 155px;
  height: 155px;
  display: flex;
  border-radius: 30px 0px 0px 30px;
  /* background: url("/public/restaurant/burak.jpeg"); */
  background-size: cover;
  position: relative;
  margin-right: 40px;
}

/* 1: for art_user_info */
.community_page .art_user_info {
  display: flex;
  flex-direction: row;
}

.community_page .art_user_info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
}

.community_page .art_user_name {
  width: 70px;
  height: 19px;
  margin-top: 8px;
  margin-left: 8px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

/* 2: art_info */
.community_page .art_info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.community_page .art_info_title {
  width: 610px;
  height: 33px;
  text-decoration: none;
  color: #e3c08d;
  font-family: "Poppins";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
}

.community_page .art_info_desc {
  width: 610px;
  height: 33px;
  text-decoration: none;
  color: #fff;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 5px;
}

/* 3: art date & likes & views */
.community_page .art_date_views {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.community_page .art_date_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.community_page .art_date_views .art_date {
  display: flex;
  margin-right: 30px;
  line-height: 26px;
}

.community_page .art_date_box .art_likes {
  display: flex;
  margin-right: 30px;
  align-items: center;
}

.community_page .art_date_box .art_views {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
